<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{- if .IsPage }}
  <meta name="description" content="{{ .Summary }}">
  {{- end }}
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>
  {{- $ui := resources.Get "ui.css" }}
  {{- $main := resources.Get "main.css" }}
  {{- $css := slice $ui $main | resources.Concat "main.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">
  <script data-goatcounter="https://w0rng.goatcounter.com/count"
          async src="//gc.zgo.at/count.js"></script>
</head>
<body>
  <main>
    {{- block "main" . }}{{ end }}
  </main>
</body>
</html>
