<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{- if .IsPage }}
  <meta name="description" content="{{ .Summary }}">
  {{- end }}
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>
  {{- $css := resources.Get "main.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">
  {{- if .Params.mathjax }}{{ partial "mathjax.html" }}{{ end }}
</head>
<body>
  {{- block "main" . }}{{ end }}
</body>
</html>
