@media (prefers-color-scheme: dark) {
  body[a="auto"] {
    --bg-color: #282C34;
    --primary-text-color: #DBDFE3;
    --secondary-text-color: #282C34;
    --link-color: #61AFEF;
    --visited-link-color: #C678DD;
    --highlight: #464E5D;
  }
}

@media (prefers-color-scheme: light) {
  body[a="auto"] {
    --bg-color: #FAFAFA;
    --primary-text-color: #383A42;
    --secondary-text-color: #595959;
    --link-color: #0084BC;
    --visited-link-color: #A627A4;
    --highlight: #dae5ec;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  max-width: 720px;
  margin: 0;
  padding: 2rem 1.5rem;

  @media (min-width: 768px) {
    padding: 4rem 2rem;
  }
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: var(--visited-link-color);
  }
}

details {
  border: thin solid var(--primary-text-color);
  padding: 1rem;
}

details summary {
  color: var(--primary-text-color);
  text-decoration: none;
}

details[open] summary {
  border-bottom: 1px solid var(--primary-text-color);
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

pre {
  background: var(--bg-color);
  padding: 1em;
  overflow-x: auto;
}

code {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  &:not(pre > code) {
    background-color: var(--primary-text-color);
    color: var(--bg-color);
  }
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}


*:target {
  background: var(--highlight);
  color: var(--primary-text-color);
  padding: 0.1em 0.2em;
  font-size: 90%;
}

table,
th,
td {
  border: thin solid var(--primary-text-color);
  border-collapse: collapse;
  padding: 0.4rem;
}

table {
  width: 100%;
}

.toc {
  border: thin solid var(--primary-text-color);
  padding: 1rem;
}

figcaption {
  color: var(--secondary-text-color);
  text-align: center;
  opacity: 0.5;
}

blockquote {
  border-left: 3px solid rgba(var(--primary-text-color), 0.3);
  color: rgba(var(--primary-text-color), 0.8);
  margin: 1.5em 0;
  padding: 0.5em 1em;

  p {
    margin: 0;
  }
}

html {
  height: 100%;
}

h1 {
  font-size: 2.2rem;
  line-height: 1.2;
  margin: 2em 0 1em;
}

h1.title {
  margin-top: 1em;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

p {
  margin: 1.5em 0;
  hyphens: auto;
}

li {
  margin: 0.4rem 0;
}

hr {
  text-align: center;
  border: 0;
  margin: 2rem 0;

  &:before {
    content: '/////'
  }

  &:after {
    content: attr(data-content) '/////'
  }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0;
  }

}

@media (max-width: 480px) {
  body {
    font-size: 16px;
    line-height: 1.5;
  }

  .post-meta {
    flex-direction: column;
    align-items: flex-start;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}