@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media (prefers-color-scheme: dark) {
    body[a="auto"] {
        --bg-color: #202020;
        --primary-text-color: #C0C0C0;
        --secondary-text-color: #282C34;
        --link-color: #0080D4;
        --visited-link-color: #C678DD;
        --link-border: #20394E;
        --hover-link: #f04020;
        --hover-link-border: #562A22;
        --highlight: #464E5D;
    }
}

@media (prefers-color-scheme: light) {
    body[a="auto"] {
        --bg-color: #FFFFFF;
        --primary-text-color: #000000;
        --secondary-text-color: #595959;
        --link-color: #0360A0;
        --visited-link-color: #98b8c8;
        --link-border: #DDE7F1;
        --hover-link: #A03100;
        --hover-link-border: #EDD6CF;
        --highlight: #dae5ec;
    }
}

body {
    background-color: var(--bg-color);
    color: var(--primary-text-color);
    font-family: "PT Serif", serif;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 2rem 1.5rem;
    max-width: 720px;
    line-height: 1.5em;

    @media (min-width: 768px) {
        padding: 4rem 2rem;
    }
}

a {
    color: var(--link-color);
    border-bottom-color: var(--link-border);
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    transition: color 0.2s ease-out;

    &:visited {
        color: var(--visited-link-color);
    }

    &:hover {
        color: var(--hover-link);
        border-bottom-color: var(--hover-link-border);
    }
}

details {
    border: thin solid var(--primary-text-color);
    padding: 1rem;
}

details summary {
    color: var(--primary-text-color);
    text-decoration: none;
}

details[open] summary {
    border-bottom: 1px solid var(--primary-text-color);
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

pre {
    background: var(--bg-color);
    padding: 1em;
    overflow-x: auto;
}

code {
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    &:not(pre > code) {
        background-color: var(--primary-text-color);
        color: var(--bg-color);
    }
}

table,
th,
td {
    border: thin solid var(--primary-text-color);
    border-collapse: collapse;
    padding: 0.4rem;
}

table {
    width: 100%;
}

.toc {
    border: thin solid var(--primary-text-color);
    padding: 1rem;
}

figcaption {
    color: var(--secondary-text-color);
    text-align: center;
    opacity: 0.5;
}

blockquote {
    border-left: 3px solid rgba(var(--primary-text-color), 0.3);
    color: rgba(var(--primary-text-color), 0.8);
    margin: 1.5em 0;
    padding: 0.5em 1em;

    p {
        margin: 0;
    }
}

html {
    height: 100%;
}

h1 {
    font-size: 2.2rem;
    line-height: 1.2;
    margin: 2em 0 1em;
    font-family: Arial, serif;
}

h1.title {
    margin-top: 0;
}

h2 {
    font-size: 1.8rem;
    font-family: Arial, serif
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.3rem;
}

p {
    margin: 1em 0;
    hyphens: none;
    overflow-wrap: normal;
    word-break: normal;
}


li {
    margin: 0.4rem 0;
}

hr {
    text-align: center;
    border: 0;
    margin: 2rem 0;

    &:before {
        content: '/////'
    }

    &:after {
        content: attr(data-content) '/////'
    }
}

img {
    max-width: 150%;
    display: block;
    margin: 0 auto;
}

.post-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        margin: 0;
    }

}

@media (max-width: 820px) {
    img {
        max-width: 100%;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}
